<!-- Skills Grid Section -->
<section id="skills">
    <div class="container portfolio-flex-grid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Coding Skill</h2>
                <hr id="skills-star" class="star-light">
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                
                <div class="col-lg-6">
                    <div class="bar expert" data-skill="Java"></div>
                    <div class="bar front expert" data-skill="Microservice"></div>
                    <div class="bar front advanced" data-skill="Cloud Technologies"></div>
                    <div class="bar back intermediate" data-skill="Python"></div>
                    <div class="bar back intermediate" data-skill="Machine Learning"></div>
                </div>

                <div class="col-lg-6">
                    <div class="bar expert" data-skill="HTML5"></div>
                    <div class="bar back expert" data-skill="CSS3"></div>
                    <div class="bar front intermediate" data-skill="SQL/NoSQL"></div>
                    <div class="bar back intermediate" data-skill="JavaScript"></div>
                    <div class="bar front basic" data-skill="Kotlin"></div>
                </div>

            </div>

            
        </div>
    </div>
</section>
